*{
  background-color:#e2ccac;
  background-image: url(https://st2.depositphotos.com/5078157/9867/i/950/depositphotos_98679234-stock-photo-abstract-low-poly-background-geometry.jpg);
}

body{
   border:5px solid green;
   border-style:ridge;
   color:red;
}
#about>p{
    font-size:15px;
    font-family:'Helvetica';
    font-style:italic;
    font-weight:400;
}
img{
  width:600 px;
  height:400 px;
}

nav,ol,li{
   padding: 20px;
   display:flex;
   flex-direction:row;
   color:green;
}
#services{
   border:2px solid grey;
   border-radius:2px;
   border-style:inset;


}

#about{
  border:3px solid grey;
  border-radius:5px;
  border-style:dashed;
}
#home{
    text-align:center;
    border:5px solid DodgerBlue;
    border-style:outset;
    box-shadow:20%;
}
#contacts{
  border:2px solid MediumSeaGreen;
  border-style:groove;
  box-shadow:10px;
  font-size:15px;
  font-style:red serif;
}
